{% extends 'admin/base.html' %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    form {
        /* max-width: 400px; */
        margin: auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input[type="text"] {
        width: 80%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }

    </style>


    <h2 class="m-3">Units</h2>
    <table class="table table-success table-striped mt-4">
        <thead>
            <tr>
                <th>Unit ID</th>                
                <th>Unit Name</th>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
            <tr>
                <td>{{ unit.id }}</td>
                <td>{{ unit.unit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination justify-content-center">
        <span class="badge badge-light">
            Page {{ units.page }} of {{ units.pages }}
        </span>
        {% if units.has_prev %}
            <a href="{{ url_for('view_units', page=units.prev_num) }}" class="btn btn-sm btn-primary">Previous</a>
        {% endif %}
        {% if units.has_next %}
            <a href="{{ url_for('view_units', page=units.next_num) }}" class="btn btn-sm btn-primary">Next</a>
        {% endif %}
    </div>

    <a href="{{ url_for('delete_unit', unit_id=terminal.id) }}" onclick="return confirm('Are you sure you want to delete this unit?')">Delete</a>


{% endblock %}


